li {
    display: inline;
}
ul{
    word-spacing: 50px;
}
li {
    border: 5px solid;
    color: rgb(43, 226, 223);
font-style: italic;
}
p{
    text-decoration: solid;
    font-style:normal;
    font-size:large;

}

